## Import libraries

In [28]:
import pandas as pd
from openai import OpenAI
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import players, teams
import plotly.express as px
pd.options.display.max_columns = None
client = OpenAI(api_key='YOUR_OPENAI_API_KEY')

## Get static data about players and teams (ID's, full name, city, state, etc.)

In [4]:
players_static = players.get_players()

In [11]:
pd.DataFrame(players_static).to_csv('players_static.csv', index=False)

In [7]:
teams_static = teams.get_teams()

In [12]:
pd.DataFrame(teams_static).to_csv('teams_static.csv', index=False)

In [39]:
players_static = pd.read_csv('players_static.csv')
teams_static = pd.read_csv('teams_static.csv')

In [41]:
players_static.sample(10)

          id         full_name first_name   last_name  is_active
3393   77825     George Pearcy     George      Pearcy      False
1849    1538  Cedric Henderson     Cedric   Henderson      False
4077      22         Rik Smits        Rik       Smits      False
2829   77517    Paul McCracken       Paul   McCracken      False
3022  600006       Earl Monroe       Earl      Monroe      False
4324   78340      Mel Thurston        Mel    Thurston      False
3460    2565    Zoran Planinic      Zoran    Planinic      False
1782  203914       Gary Harris       Gary      Harris       True
42    203128    Furkan Aldemir     Furkan     Aldemir      False
1094   76577  Terry Dischinger      Terry  Dischinger      False

In [42]:
teams_static.sample(10)

,id,full_name,abbreviation,nickname,city,state,year_founded
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946

In [43]:
players_static[players_static['full_name'].isin(['LeBron James', 'Michael Jordan'])]

        id       full_name first_name last_name  is_active
2111  2544    LeBron James     LeBron     James       True
2291   893  Michael Jordan    Michael    Jordan      False

## Get player career stats using the player's ID

In [24]:
lebron_james = playercareerstats.PlayerCareerStats(player_id=2544)
michael_jordan = playercareerstats.PlayerCareerStats(player_id=893)

In [33]:
lebron_james.get_data_frames()[0].head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120.0,622,1492,0.417,63,217,0.290,347,460,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388.0,795,1684,0.472,108,308,0.351,477,636,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361.0,875,1823,0.480,127,379,0.335,601,814,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190.0,772,1621,0.476,99,310,0.319,489,701,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027.0,794,1642,0.484,113,359,0.315,549,771,0.712,133,459,592,539,138,81,255,165,2250

In [34]:
michael_jordan.get_data_frames()[0].head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,893,1984-85,00,1610612741,CHI,22.0,82,82,3144.0,837,1625,0.515,9,52,0.173,630,746,0.845,167,367,534,481,196,69,291,285,2313
1,893,1985-86,00,1610612741,CHI,23.0,18,7,451.0,150,328,0.457,3,18,0.167,105,125,0.840,23,41,64,53,37,21,45,46,408
2,893,1986-87,00,1610612741,CHI,24.0,82,82,3281.0,1098,2279,0.482,12,66,0.182,833,972,0.857,166,264,430,377,236,125,272,237,3041
3,893,1987-88,00,1610612741,CHI,25.0,82,82,3311.0,1069,1998,0.535,7,53,0.132,723,860,0.841,139,310,449,485,259,131,252,270,2868
4,893,1988-89,00,1610612741,CHI,26.0,81,81,3255.0,966,1795,0.538,27,98,0.276,674,793,0.850,149,503,652,650,234,65,290,247,2633

## Create a prompt template and dynamically insert each player's data

In [62]:
for player_id in players_static['id'].sample(3):
    print(player_id)
    player_stats_df = playercareerstats.PlayerCareerStats(player_id=player_id).get_data_frames()[0]
    player_stats_df = pd.merge(
        player_stats_df,
        players_static,
        left_on='PLAYER_ID',
        right_on='id',
        how='left')
    player_stats_df = pd.merge(
        player_stats_df,
        teams_static,
        left_on='TEAM_ID',
        right_on='id',
        how='left')
    display(player_stats_df)

    # player_id = int(player_id.replace('player_', '').replace('.csv', ''))
    # t0 = time.time()
    try:
        df = player_stats_df[player_stats_df['PLAYER_ID'].eq(player_id)]
        if (df['FGM'].sum() > 0) and  (df['FGA'].sum() > 0):
            goals_percent = df['FGM'].sum() / df['FGA'].sum()
        else:
            goals_percent = 'unknown'
        if (df['FTM'].sum() > 0) and (df['FTA'].sum() > 0):
            freethrows_percent = df['FTM'].sum() / df['FTA'].sum() > 0
        else:
            freethrows_percent = 'unknown'
        print(df)
        d = dict(
            name = df['full_name_x'].iloc[0],
            teams = df['full_name_y'].drop_duplicates().dropna().tolist(),
            cities = df['city'].drop_duplicates().dropna().tolist(),
            states = df['state'].drop_duplicates().dropna().tolist(),
            active = df['is_active'].iloc[-1],
            start_season = df['SEASON_ID'].iloc[0],
            end_season = df['SEASON_ID'].iloc[-1],
            start_age = df['PLAYER_AGE'].iloc[0],
            end_age = df['PLAYER_AGE'].iloc[-1],
            games_played = df['GP'].sum(),
            minutes_played = df['MIN'].sum(),
            goals_attempted = df['FGA'].sum(),
            goals_made = df['FGM'].sum(),
            goals_percent = goals_percent,
            freethrows_attempted = df['FTA'].sum(),
            freethrows_made = df['FTM'].sum(),
            freethrows_percent = freethrows_percent,
            rebounds = df['REB'].sum(),
            rebounds_def = df['DREB'].sum(),
            rebounds_off = df['OREB'].sum(),
            assists = df['AST'].sum(),
            steals = df['STL'].sum(),
            blocks = df['BLK'].sum(),
            points = df['PTS'].sum(),
    )
        prompt = [
            {"role": "system",
             "content": """You are a smart, detail-oriencted, keen NBA Basketball player analyst. \
                 Please write an introductory text for a profile page of this Basketball player.
                 Length: 500 - 800 words.
                 please stick to the stats provided.
                 Tone: should be interesting factual intriguing and inviting the user to dive \
                 into the charts on the page to better get to know the player.
                 """},
             {"role": "user",
              "content": f"""Please write and article for the player using the following details:
                 {d}
                 """}]
        print(prompt[1])
    except Exception as e:
        print(str(e))
        continue
        # completion = client.chat.completions.create(
        #   model=model,
        #   messages=[
        #     {"role": "system",
        #      "content": """You are a smart, detail-oriencted, keen NBA Basketball player analyst. \
        #      Please write an introductory text for a profile page of this Basketball player.
        #      Length: 500 - 800 words.
        #      please stick to the stats provided.
        #      Tone: should be interesting factual intriguing and inviting the user to dive \
        #      into the charts on the page to better get to know the player.
        #      """},
        #     {"role": "user",
        #      "content": f"""Please write and article for the player using the following details:
        #      {d}
        #      """}
        #   ]
        # )
    #     responses.append([player_id, completion])

77222

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id_x,full_name_x,first_name,last_name,is_active,id_y,full_name_y,abbreviation,nickname,city,state,year_founded
0,77222,1946-47,00,1610612738,BOS,28.0,18,None,0.0,25,91,0.275,None,None,None,24,38,0.632,None,None,0.0,6,None,None,None,17,74,77222,Tony Kappen,Tony,Kappen,False,1.610613e+09,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
1,77222,1946-47,00,1610610031,PIT,28.0,41,None,0.0,103,446,0.231,None,None,None,104,123,0.846,None,None,0.0,22,None,None,None,61,310,77222,Tony Kappen,Tony,Kappen,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,77222,1946-47,00,0,TOT,28.0,59,None,NaN,128,537,0.238,None,None,None,128,161,0.795,None,None,NaN,28,None,None,None,78,384,77222,Tony Kappen,Tony,Kappen,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

   PLAYER_ID SEASON_ID LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION  PLAYER_AGE  \
0      77222   1946-47        00  1610612738               BOS        28.0
1      77222   1946-47        00  1610610031               PIT        28.0
2      77222   1946-47        00           0               TOT        28.0

   GP    GS  MIN  FGM  FGA  FG_PCT  FG3M  FG3A FG3_PCT  FTM  FTA  FT_PCT  \
0  18  None  0.0   25   91   0.275  None  None    None   24   38   0.632
1  41  None  0.0  103  446   0.231  None  None    None  104  123   0.846
2  59  None  NaN  128  537   0.238  None  None    None  128  161   0.795

   OREB  DREB  REB  AST   STL   BLK   TOV  PF  PTS   id_x  full_name_x  \
0  None  None  0.0    6  None  None  None  17   74  77222  Tony Kappen
1  None  None  0.0   22  None  None  None  61  310  77222  Tony Kappen
2  None  None  NaN   28  None  None  None  78  384  77222  Tony Kappen

  first_name last_name  is_active          id_y     full_name_y abbreviation  \
0       Tony    Kappen      False  1.610613e+09  Boston Celtics          BOS
1       Tony    Kappen      False           NaN             NaN          NaN
2       Tony    Kappen      False           NaN             NaN          NaN

  nickname    city          state  year_founded
0  Celtics  Boston  Massachusetts        1946.0
1      NaN     NaN            NaN           NaN
2      NaN     NaN            NaN           NaN
{'role': 'user', 'content': "Please write and article for the player using the following details:\n                 {'name': 'Tony Kappen', 'teams': ['Boston Celtics'], 'cities': ['Boston'], 'states': ['Massachusetts'], 'active': False, 'start_season': '1946-47', 'end_season': '1946-47', 'start_age': 28.0, 'end_age': 28.0, 'games_played': 118, 'minutes_played': 0.0, 'goals_attempted': 1074, 'goals_made': 256, 'goals_percent': 0.2383612662942272, 'freethrows_attempted': 322, 'freethrows_made': 256, 'freethrows_percent': True, 'rebounds': 0.0, 'rebounds_def': 0, 'rebounds_off': 0, 'assists': 56, 'steals': 0, 'blocks': 0, 'points': 768}\n                 "}
202375

Empty DataFrame
Columns: [PLAYER_ID, SEASON_ID, LEAGUE_ID, TEAM_ID, TEAM_ABBREVIATION, PLAYER_AGE, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, id_x, full_name_x, first_name, last_name, is_active, id_y, full_name_y, abbreviation, nickname, city, state, year_founded]
Index: []

Empty DataFrame
Columns: [PLAYER_ID, SEASON_ID, LEAGUE_ID, TEAM_ID, TEAM_ABBREVIATION, PLAYER_AGE, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, id_x, full_name_x, first_name, last_name, is_active, id_y, full_name_y, abbreviation, nickname, city, state, year_founded]
Index: []
single positional indexer is out-of-bounds
203580

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id_x,full_name_x,first_name,last_name,is_active,id_y,full_name_y,abbreviation,nickname,city,state,year_founded
0,203580,2014-15,00,1610612755,PHI,25.0,12,1,219.0,20,58,0.345,4,26,0.154,2,3,0.667,1,14,15,45,6,0,25,13,46,203580,Larry Drew II,Larry,Drew II,False,1.610613e+09,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949.0
1,203580,2017-18,00,1610612755,PHI,28.0,3,0,15.0,1,7,0.143,0,3,0.000,0,0,0.000,1,0,1,2,0,0,1,2,2,203580,Larry Drew II,Larry,Drew II,False,1.610613e+09,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949.0
2,203580,2017-18,00,1610612740,NOP,28.0,7,0,55.0,6,17,0.353,3,6,0.500,0,0,0.000,2,0,2,8,0,0,2,4,15,203580,Larry Drew II,Larry,Drew II,False,1.610613e+09,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002.0
3,203580,2017-18,00,0,TOT,28.0,10,0,70.0,7,24,0.292,3,9,0.333,0,0,0.000,3,0,3,10,0,0,3,6,17,203580,Larry Drew II,Larry,Drew II,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

   PLAYER_ID SEASON_ID LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION  PLAYER_AGE  \
0     203580   2014-15        00  1610612755               PHI        25.0
1     203580   2017-18        00  1610612755               PHI        28.0
2     203580   2017-18        00  1610612740               NOP        28.0
3     203580   2017-18        00           0               TOT        28.0

   GP  GS    MIN  FGM  FGA  FG_PCT  FG3M  FG3A  FG3_PCT  FTM  FTA  FT_PCT  \
0  12   1  219.0   20   58   0.345     4    26    0.154    2    3   0.667
1   3   0   15.0    1    7   0.143     0     3    0.000    0    0   0.000
2   7   0   55.0    6   17   0.353     3     6    0.500    0    0   0.000
3  10   0   70.0    7   24   0.292     3     9    0.333    0    0   0.000

   OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS    id_x    full_name_x  \
0     1    14   15   45    6    0   25  13   46  203580  Larry Drew II
1     1     0    1    2    0    0    1   2    2  203580  Larry Drew II
2     2     0    2    8    0    0    2   4   15  203580  Larry Drew II
3     3     0    3   10    0    0    3   6   17  203580  Larry Drew II

  first_name last_name  is_active          id_y           full_name_y  \
0      Larry   Drew II      False  1.610613e+09    Philadelphia 76ers
1      Larry   Drew II      False  1.610613e+09    Philadelphia 76ers
2      Larry   Drew II      False  1.610613e+09  New Orleans Pelicans
3      Larry   Drew II      False           NaN                   NaN

  abbreviation  nickname          city         state  year_founded
0          PHI     76ers  Philadelphia  Pennsylvania        1949.0
1          PHI     76ers  Philadelphia  Pennsylvania        1949.0
2          NOP  Pelicans   New Orleans     Louisiana        2002.0
3          NaN       NaN           NaN           NaN           NaN
{'role': 'user', 'content': "Please write and article for the player using the following details:\n                 {'name': 'Larry Drew II', 'teams': ['Philadelphia 76ers', 'New Orleans Pelicans'], 'cities': ['Philadelphia', 'New Orleans'], 'states': ['Pennsylvania', 'Louisiana'], 'active': False, 'start_season': '2014-15', 'end_season': '2017-18', 'start_age': 25.0, 'end_age': 28.0, 'games_played': 32, 'minutes_played': 359.0, 'goals_attempted': 106, 'goals_made': 34, 'goals_percent': 0.32075471698113206, 'freethrows_attempted': 3, 'freethrows_made': 2, 'freethrows_percent': True, 'rebounds': 21, 'rebounds_def': 14, 'rebounds_off': 7, 'assists': 65, 'steals': 6, 'blocks': 0, 'points': 80}\n                 "}