---
format:
  html:
    theme: flatly
    code-line-numbers: true
anchor-sections: true
toc: true
toc-location: left
toc-expand: true
embed-resources: true
page-layout: full
---

# Using generative AI with structured data for programmatic SEO

Prompt engineering is one of the hot topics these days, and it is constantly changing due to rapid changes in the guidelines, the underlying technologies' capabilities, as well as our understanding of them.

It is mostly known as making many attempts, changing, rewriting, until you find a prompt that works for the task at hand.

I would like to build on this and share a pattern of using building prompt **templates** that can be used in bulk, for the creation of product descriptions, email marketing messages, and any other type of content.

The key enabler in this pattern is the availability of strcutured data for many items, and for a consitent set of attributes.

product   | size | color | price
----------|------|-------|-------
Product A |10    |blue   | 150
Product B |12    |green  | 180
Product C |15    |red    | 125


A very simple prompt for a product description for one of those products can be something like this:


> Please create a product description for **Product A**
Mention its size, which is **10**
Also mention its color, which is **blue**
And talk about its price: **150**
The tone of voice should be professional

Now we have two important things to consider:
1. We would like to scale our prompting to encompass all our products.
2. The consistency of our data enables us to run the same process across many products.
3. It would be great if we can save the process that generated our product descriptions. This is in order to debug issues, reproduce them again, and eventually update them by tweaking the prompt or by adding new product attributes whenever we have updated data.

In [7]:
import pandas as pd
products = pd.DataFrame({
    'product': ['Product A', 'Product B', 'Product C'],
    'size': [10, 12, 15],
    'color': ['blue', 'green', 'red'],
    'price': [150, 180, 125]
})
products

     product  size  color  price
0  Product A    10   blue    150
1  Product B    12  green    180
2  Product C    15    red    125

In [41]:
prompt_template = """
Please create a product description for {product}.
Mention its size, which is {size}
Also mention its color, which is {color}
Talk about its price: {price}
The tone of voice should be professional
"""

for row in products.to_dict('records'):
    print(prompt_template.format_map(row))

Please create a product description for Product A.
Mention its size, which is 10
Also mention its color, which is blue
Talk about its price: 150
The tone of voice should be professional


Please create a product description for Product B.
Mention its size, which is 12
Also mention its color, which is green
Talk about its price: 180
The tone of voice should be professional


Please create a product description for Product C.
Mention its size, which is 15
Also mention its color, which is red
Talk about its price: 125
The tone of voice should be professional

Let's take a quick look at some of the adavantages of this approach:

## Reproducibility
Eventually we will most likely want to update those descriptions. We might have a new SEO strategy and want to focus on other aspects of our products. We might get new data, like user ratings for example, and might want to incorporate a new line in our prompt, and so on.

## Scaling
I think this is obvious. This approach clearly allows us to create descriptions on a large scale, provided we have consitent data, and that the items are similar (belonging to the same product category, or are of the same type).

## Debugging
If we see something wrong in our product descriptions, or some unwanted behavior, we can always go back and update our prompt template and clarify in a better way what we want.

## Minimize hallucinations
Trusting LLMs to create product descriptions for you is a very risky thing, because they are well-known for how easily they can invent "facts", and being "confident" about them.
With this approach, we are restricting the factual information to the data that we provide, and we are also utilizing the great language processing capabilities of LLMs.

Now that we have clarified the approach and its benefits, let's see how this might be used in a real-life situation.

## How to use LLMs for product descriptions on a large scale

The example I will go through is for NBA player statistics. We will connect to the NBA data API, obtain carerr data for each player (per season, and per metric), and use that to create profile pages for each player.

## Added value of using LLMs for product descriptions

What we are doing here is not a simple re-arrangement of what someone else wrote, and calling it our own. This would not add real value, and would not be an ethical thing to do. We are using publicly available data to uncover some insights, and with those facts create an interesting description. This description should make the reader better informed about the topic discussed.

### Insights

With the availability of structured data about our players, we can make some calculations, and uncover some interesting facts that might not be immediately visible from the raw data.


### Charts

Another added value of using raw data is that we can visualize for truly more insightful views into the players' careers.

How easy is it to understand [Michael Jordan's career stats](https://nbastats.pro/player/Michael_Jordan) by looking at this table?

![](michael_jordan_career_stats_table.png)

Maybe this is better:

![](michael_jordan_career_stats_chart.png)

Was it easy for you to spot the two seasons where he played a very low number of games, and that otherwise he played pretty much all games of all seasons?

Was it clear from the table, that after his third year, his total points per season kept going down throughout his career (even though the games he played was stable, with two exceptions)?

Of course those charts are not produced by the LLM. We will produce them with Plotly, a Python data visualization library, and of course we can use other libraries for that.

## Creating prompt templates

Just like with did with the toy example above, we will now create a prompt template for NBA players.

### Importing libraries

In [78]:
import pandas as pd
from openai import OpenAI
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import players, teams
import plotly.express as px
pd.options.display.max_columns = None
import os
from IPython.display import display_markdown
def md(text):
    return display_markdown(text, raw=True)
client = OpenAI(api_key=os.environ['OPENAI_API_KEY'])

## Getting static data about players and teams (ID's, full name, city, state, etc.)

In [4]:
players_static = players.get_players()

In [11]:
pd.DataFrame(players_static).to_csv('players_static.csv', index=False)

In [7]:
teams_static = teams.get_teams()

In [12]:
pd.DataFrame(teams_static).to_csv('teams_static.csv', index=False)

In [39]:
players_static = pd.read_csv('players_static.csv')
teams_static = pd.read_csv('teams_static.csv')

In [41]:
players_static.sample(10)

          id         full_name first_name   last_name  is_active
3393   77825     George Pearcy     George      Pearcy      False
1849    1538  Cedric Henderson     Cedric   Henderson      False
4077      22         Rik Smits        Rik       Smits      False
2829   77517    Paul McCracken       Paul   McCracken      False
3022  600006       Earl Monroe       Earl      Monroe      False
4324   78340      Mel Thurston        Mel    Thurston      False
3460    2565    Zoran Planinic      Zoran    Planinic      False
1782  203914       Gary Harris       Gary      Harris       True
42    203128    Furkan Aldemir     Furkan     Aldemir      False
1094   76577  Terry Dischinger      Terry  Dischinger      False

In [42]:
teams_static.sample(10)

,id,full_name,abbreviation,nickname,city,state,year_founded
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946

In [43]:
players_static[players_static['full_name'].isin(['LeBron James', 'Michael Jordan'])]

        id       full_name first_name last_name  is_active
2111  2544    LeBron James     LeBron     James       True
2291   893  Michael Jordan    Michael    Jordan      False

## Get player career stats using the player's ID

In [24]:
lebron_james = playercareerstats.PlayerCareerStats(player_id=2544)
michael_jordan = playercareerstats.PlayerCareerStats(player_id=893)

In [33]:
lebron_james.get_data_frames()[0].head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120.0,622,1492,0.417,63,217,0.290,347,460,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388.0,795,1684,0.472,108,308,0.351,477,636,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361.0,875,1823,0.480,127,379,0.335,601,814,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190.0,772,1621,0.476,99,310,0.319,489,701,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027.0,794,1642,0.484,113,359,0.315,549,771,0.712,133,459,592,539,138,81,255,165,2250

In [34]:
michael_jordan.get_data_frames()[0].head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,893,1984-85,00,1610612741,CHI,22.0,82,82,3144.0,837,1625,0.515,9,52,0.173,630,746,0.845,167,367,534,481,196,69,291,285,2313
1,893,1985-86,00,1610612741,CHI,23.0,18,7,451.0,150,328,0.457,3,18,0.167,105,125,0.840,23,41,64,53,37,21,45,46,408
2,893,1986-87,00,1610612741,CHI,24.0,82,82,3281.0,1098,2279,0.482,12,66,0.182,833,972,0.857,166,264,430,377,236,125,272,237,3041
3,893,1987-88,00,1610612741,CHI,25.0,82,82,3311.0,1069,1998,0.535,7,53,0.132,723,860,0.841,139,310,449,485,259,131,252,270,2868
4,893,1988-89,00,1610612741,CHI,26.0,81,81,3255.0,966,1795,0.538,27,98,0.276,674,793,0.850,149,503,652,650,234,65,290,247,2633

## Create a prompt template and dynamically insert each player's data

In [80]:
responses = []
for player_id in [2544, 893, 203999, 76003]:
    player_stats_df = playercareerstats.PlayerCareerStats(player_id=player_id).get_data_frames()[0]
    player_stats_df = pd.merge(
        player_stats_df,
        players_static,
        left_on='PLAYER_ID',
        right_on='id',
        how='left')
    player_stats_df = pd.merge(
        player_stats_df,
        teams_static,
        left_on='TEAM_ID',
        right_on='id',
        how='left')
    display(player_stats_df)

    # player_id = int(player_id.replace('player_', '').replace('.csv', ''))
    # t0 = time.time()
    try:
        df = player_stats_df[player_stats_df['PLAYER_ID'].eq(player_id)]
        if (df['FGM'].sum() > 0) and  (df['FGA'].sum() > 0):
            goals_percent = df['FGM'].sum() / df['FGA'].sum()
        else:
            goals_percent = 'unknown'
        if (df['FTM'].sum() > 0) and (df['FTA'].sum() > 0):
            freethrows_percent = df['FTM'].sum() / df['FTA'].sum() > 0
        else:
            freethrows_percent = 'unknown'
        d = dict(
            name = df['full_name_x'].iloc[0],
            teams = df['full_name_y'].drop_duplicates().dropna().tolist(),
            cities = df['city'].drop_duplicates().dropna().tolist(),
            states = df['state'].drop_duplicates().dropna().tolist(),
            active = df['is_active'].iloc[-1],
            start_season = df['SEASON_ID'].iloc[0],
            end_season = df['SEASON_ID'].iloc[-1],
            start_age = df['PLAYER_AGE'].iloc[0],
            end_age = df['PLAYER_AGE'].iloc[-1],
            games_played = df['GP'].sum(),
            minutes_played = df['MIN'].sum(),
            goals_attempted = df['FGA'].sum(),
            goals_made = df['FGM'].sum(),
            goals_percent = goals_percent,
            freethrows_attempted = df['FTA'].sum(),
            freethrows_made = df['FTM'].sum(),
            freethrows_percent = freethrows_percent,
            rebounds = df['REB'].sum(),
            rebounds_def = df['DREB'].sum(),
            rebounds_off = df['OREB'].sum(),
            assists = df['AST'].sum(),
            steals = df['STL'].sum(),
            blocks = df['BLK'].sum(),
            points = df['PTS'].sum(),
    )
        prompt = [
            {"role": "system",
             "content": """
You are a smart, detail-oriencted, keen NBA Basketball player analyst.
Please write an introductory text for a profile page of this Basketball player.
Length: 500 - 800 words.
please stick to the stats provided.
Tone: should be interesting factual intriguing and inviting the user to dive
into the charts on the page to better get to know the player."""},
             {"role": "user",
              "content": f"""
Please write and article for the player using the following details:
{d}"""}]
        display(md(f"## {df['full_name_x'].iloc[0]}"))
        for k, v in prompt[0].items():
            print(k, v)
        print()
        for k, v in d.items():
            print(k, v)
    except Exception as e:
        print(str(e))
        continue
    completion = client.chat.completions.create(
      # model="gpt-4o",
      model="gpt-3.5-turbo",
      messages=[
        {"role": "system",
         "content": """You are a smart, detail-oriencted, keen NBA Basketball player analyst. \
         Please write an introductory text for a profile page of this Basketball player.
         Length: 500 - 800 words.
         please stick to the stats provided.
         Tone: should be interesting factual intriguing and inviting the user to dive \
         into the charts on the page to better get to know the player.
         """},
        {"role": "user",
         "content": f"""Please write and article for the player using the following details:
         {d}
         """}
      ]
    )
    responses.append([player_id, completion])
    print()
    print(completion.dict()['choices'][0]['message']['content'])
    print()
    display(md('----'))

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id_x,full_name_x,first_name,last_name,is_active,id_y,full_name_y,abbreviation,nickname,city,state,year_founded
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120.0,622,1492,0.417,63,217,0.290,347,460,0.754,99,333,432,465,130,58,273,149,1654,2544,LeBron James,LeBron,James,True,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388.0,795,1684,0.472,108,308,0.351,477,636,0.750,111,477,588,577,177,52,262,146,2175,2544,LeBron James,LeBron,James,True,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361.0,875,1823,0.480,127,379,0.335,601,814,0.738,75,481,556,521,123,66,260,181,2478,2544,LeBron James,LeBron,James,True,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190.0,772,1621,0.476,99,310,0.319,489,701,0.698,83,443,526,470,125,55,250,171,2132,2544,LeBron James,LeBron,James,True,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027.0,794,1642,0.484,113,359,0.315,549,771,0.712,133,459,592,539,138,81,255,165,2250,2544,LeBron James,LeBron,James,True,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
5,2544,2008-09,00,1610612739,CLE,24.0,81,81,3054.0,789,1613,0.489,132,384,0.344,594,762,0.780,106,507,613,587,137,93,241,139,2304,2544,LeBron James,LeBron,James,True,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
6,2544,2009-10,00,1610612739,CLE,25.0,76,76,2966.0,768,1528,0.503,129,387,0.333,593,773,0.767,71,483,554,651,125,77,261,119,2258,2544,LeBron James,LeBron,James,True,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
7,2544,2010-11,00,1610612748,MIA,26.0,79,79,3063.0,758,1485,0.510,92,279,0.330,503,663,0.759,80,510,590,554,124,50,284,163,2111,2544,LeBron James,LeBron,James,True,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
8,2544,2011-12,00,1610612748,MIA,27.0,62,62,2326.0,621,1169,0.531,54,149,0.362,387,502,0.771,94,398,492,387,115,50,213,96,1683,2544,LeBron James,LeBron,James,True,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
9,2544,2012-13,00,1610612748,MIA,28.0,76,76,2877.0,765,1354,0.565,103,254,0.406,403,535,0.753,97,513,610,551,129,67,226,110,2036,2544,LeBron James,LeBron,James,True,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
10,2544,2013-14,00,1610612748,MIA,29.0,77,77,2902.0,767,1353,0.567,116,306,0.379,439,585,0.750,81,452,533,488,121,26,270,126,2089,2544,LeBron James,LeBron,James,True,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
11,2544,2014-15,00,1610612739,CLE,30.0,69,69,2493.0,624,1279,0.488,120,339,0.354,375,528,0.710,51,365,416,511,109,49,272,135,1743,2544,LeBron James,LeBron,James,True,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
12,2544,2015-16,00,1610612739,CLE,31.0,76,76,2709.0,737,1416,0.520,87,282,0.309,359,491,0.731,111,454,565,514,104,49,249,143,1920,2544,LeBron James,LeBron,James,True,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
13,2544,2016-17,00,1610612739,CLE,32.0,74,74,2795.0,736,1344,0.548,124,342,0.363,358,531,0.674,97,542,639,646,92,44,303,134,1954,2544,LeBron James,LeBron,James,True,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
14,2544,2017-18,00,1610612739,CLE,33.0,82,82,3026.0,857,1580,0.542,149,406,0.367,388,531,0.731,97,612,709,747,116,71,347,136,2251,2544,LeBron James,LeBron,James,True,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
15,2544,2018-19,00,1610612747,LAL,34.0,55,55,1937.0,558,1095,0.510,111,327,0.339,278,418,0.665,57,408,465,454,72,33,197,94,1505,2544,LeBron James,LeBron,James,True,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
16,2544,2019-20,00,1610612747,LAL,35.0,67,67,2316.0,643,1303,0.493,148,425,0.348,264,381,0.693,66,459,525,684,78,36,261,118,1698,2544,LeBron James,LeBron,James,True,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
17,2544,2020-21,00,1610612747,LAL,36.0,45,45,1504.0,422,823,0.513,104,285,0.365,178,255,0.698,29,317,346,350,48,25,168,70,1126,2544,LeBron James,LeBron,James,True,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
18,2544,2021-22,00,1610612747,LAL,37.0,56,56,2084.0,640,1221,0.524,161,448,0.359,254,336,0.756,63,396,459,349,73,59,196,121,1695,2544,LeBron James,LeBron,James,True,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
19,2544,2022-23,00,1610612747,LAL,38.0,55,54,1954.0,609,1219,0.500,121,377,0.321,251,327,0.768,65,392,457,375,50,32,178,88,1590,2544,LeBron James,LeBron,James,True,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
20,2544,2023-24,00,1610612747,LAL,39.0,71,71,2504.0,685,1269,0.540,149,363,0.410,303,404,0.750,61,457,518,589,89,38,245,78,1822,2544,LeBron James,LeBron,James,True,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948

## LeBron James

None

role system
content
You are a smart, detail-oriencted, keen NBA Basketball player analyst.
Please write an introductory text for a profile page of this Basketball player.
Length: 500 - 800 words.
please stick to the stats provided.
Tone: should be interesting factual intriguing and inviting the user to dive
into the charts on the page to better get to know the player.

name LeBron James
teams ['Cleveland Cavaliers', 'Miami Heat', 'Los Angeles Lakers']
cities ['Cleveland', 'Miami', 'Los Angeles']
states ['Ohio', 'Florida', 'California']
active True
start_season 2003-04
end_season 2023-24
start_age 19.0
end_age 39.0
games_played 1492
minutes_played 56596.0
goals_attempted 29313
goals_made 14837
goals_percent 0.5061576774809812
freethrows_attempted 11404
freethrows_made 8390
freethrows_percent True
rebounds 11185
rebounds_def 9458
rebounds_off 1727
assists 11009
steals 2275
blocks 1111
points 40474

LeBron James: Dominating the Court with Unmatched Brilliance

When it comes to pure basketball talent, LeBron James stands in a league of his own. With a career spanning over two decades across three different teams, the Cleveland Cavaliers, the Miami Heat, and the Los Angeles Lakers, LeBron has left an indelible mark on the NBA landscape. Hailing from the basketball hotbeds of Ohio, Florida, and California, LeBron has showcased his exceptional skills and versatility in each city he has graced with his presence.

Having started his NBA journey at the tender age of 19 in the 2003-04 season, LeBron wasted no time in setting the league on fire. Fast forward to the 2023-24 season, at the age of 39, he continues to be an active force on the court, defying age and critics alike. With an impressive 1492 games under his belt, LeBron has logged a staggering 56,596 minutes of play, demonstrating unparalleled durability and endurance throughout his career.

Scoring comes naturally to LeBron, exemplified by his 14,837 successful field goals out of 29,313 attempts, boasting an impressive shooting percentage of over 50%. His ability to drive to the basket and finish with finesse has made him a nightmare for defenders across the league. Moreover, his prowess extends to the free-throw line, where he has converted 8,390 out of 11,404 attempts, showcasing his efficiency and poise under pressure.

Rebounding is another area where LeBron excels, with a total of 11,185 rebounds to his name. Picking up 9,458 defensive rebounds and 1,727 offensive rebounds, LeBron's presence in the paint is truly unmatched. His court vision and playmaking abilities are evident in his remarkable 11,009 assists, highlighting his unselfish nature and knack for creating scoring opportunities for his teammates.

On the defensive end, LeBron is no slouch either, amassing an impressive 2,275 steals and 1,111 blocks over the course of his illustrious career. His basketball IQ, combined with his physical gifts, allows him to disrupt opposing offenses and make game-changing plays on the defensive side of the ball.

At the heart of LeBron's brilliance lies his scoring prowess, with an eye-popping total of 40,474 points scored throughout his career. Whether it's a thunderous dunk in transition, a step-back three-pointer, or a clutch basket in crunch time, LeBron has consistently delivered when it matters most, solidifying his status as one of the greatest scorers the game has ever seen.

As you delve into the charts and statistics that encapsulate LeBron's unparalleled career, you'll witness a player who has redefined the boundaries of basketball excellence. From his early days in Cleveland to his championship triumphs in Miami and Los Angeles, LeBron's impact on the game transcends mere numbers and highlights. He embodies the perfect blend of skill, athleticism, and basketball IQ, a rare combination that has propelled him to the summit of NBA greatness.

So, buckle up and get ready to embark on a journey through the statistical tapestry of LeBron James' storied career. Prepare to be amazed, inspired, and captivated by the sheer brilliance of a player who has left an indelible mark on the game of basketball. Welcome to the world of LeBron James, where greatness knows no bounds.

----

None

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id_x,full_name_x,first_name,last_name,is_active,id_y,full_name_y,abbreviation,nickname,city,state,year_founded
0,893,1984-85,00,1610612741,CHI,22.0,82,82,3144.0,837,1625,0.515,9,52,0.173,630,746,0.845,167,367,534,481,196,69,291,285,2313,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
1,893,1985-86,00,1610612741,CHI,23.0,18,7,451.0,150,328,0.457,3,18,0.167,105,125,0.840,23,41,64,53,37,21,45,46,408,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
2,893,1986-87,00,1610612741,CHI,24.0,82,82,3281.0,1098,2279,0.482,12,66,0.182,833,972,0.857,166,264,430,377,236,125,272,237,3041,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
3,893,1987-88,00,1610612741,CHI,25.0,82,82,3311.0,1069,1998,0.535,7,53,0.132,723,860,0.841,139,310,449,485,259,131,252,270,2868,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
4,893,1988-89,00,1610612741,CHI,26.0,81,81,3255.0,966,1795,0.538,27,98,0.276,674,793,0.850,149,503,652,650,234,65,290,247,2633,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,893,1989-90,00,1610612741,CHI,27.0,82,82,3197.0,1034,1964,0.526,92,245,0.376,593,699,0.848,143,422,565,519,227,54,247,241,2753,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
6,893,1990-91,00,1610612741,CHI,28.0,82,82,3034.0,990,1837,0.539,29,93,0.312,571,671,0.851,118,374,492,453,223,83,202,229,2580,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
7,893,1991-92,00,1610612741,CHI,29.0,80,80,3102.0,943,1818,0.519,27,100,0.270,491,590,0.832,91,420,511,489,182,75,200,201,2404,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
8,893,1992-93,00,1610612741,CHI,30.0,78,78,3067.0,992,2003,0.495,81,230,0.352,476,569,0.837,135,387,522,428,221,61,207,188,2541,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
9,893,1994-95,00,1610612741,CHI,32.0,17,17,668.0,166,404,0.411,16,32,0.500,109,136,0.801,25,92,117,90,30,13,35,47,457,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
10,893,1995-96,00,1610612741,CHI,33.0,82,82,3090.0,916,1850,0.495,111,260,0.427,548,657,0.834,148,395,543,352,180,42,197,195,2491,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
11,893,1996-97,00,1610612741,CHI,34.0,82,82,3109.0,920,1892,0.486,111,297,0.374,480,576,0.833,113,369,482,352,140,44,166,156,2431,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
12,893,1997-98,00,1610612741,CHI,35.0,82,82,3181.0,881,1893,0.465,30,126,0.238,565,721,0.784,130,345,475,283,141,45,185,151,2357,893,Michael Jordan,Michael,Jordan,False,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
13,893,2001-02,00,1610612764,WAS,39.0,60,53,2089.0,551,1324,0.416,10,53,0.189,263,333,0.790,50,289,339,310,85,26,162,119,1375,893,Michael Jordan,Michael,Jordan,False,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
14,893,2002-03,00,1610612764,WAS,40.0,82,67,3029.0,679,1527,0.445,16,55,0.291,266,324,0.821,71,426,497,311,123,39,173,171,1640,893,Michael Jordan,Michael,Jordan,False,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961

## Michael Jordan

None

role system
content
You are a smart, detail-oriencted, keen NBA Basketball player analyst.
Please write an introductory text for a profile page of this Basketball player.
Length: 500 - 800 words.
please stick to the stats provided.
Tone: should be interesting factual intriguing and inviting the user to dive
into the charts on the page to better get to know the player.

name Michael Jordan
teams ['Chicago Bulls', 'Washington Wizards']
cities ['Chicago', 'Washington']
states ['Illinois', 'District of Columbia']
active False
start_season 1984-85
end_season 2002-03
start_age 22.0
end_age 40.0
games_played 1072
minutes_played 41008.0
goals_attempted 24537
goals_made 12192
goals_percent 0.4968822594449199
freethrows_attempted 8772
freethrows_made 7327
freethrows_percent True
rebounds 6672
rebounds_def 5004
rebounds_off 1668
assists 5633
steals 2514
blocks 893
points 32292

Welcome to the in-depth analysis of one of the greatest basketball players of all time – Michael Jordan. Known for his illustrious career with the Chicago Bulls and later the Washington Wizards, Jordan's impact on the game is unrivaled. As we delve into the statistics that define his legendary career, we uncover the remarkable journey of a player who transcended the sport and became a global icon.

Michael Jordan's career spanned from the 1984-85 season to the 2002-03 season, during which he played a total of 1072 games. His on-court presence was nothing short of spectacular, amassing a staggering 41,008 minutes of playtime. This relentless commitment to the game reflects Jordan's dedication and love for basketball, an emblem of his unmatched work ethic.

Scoring was Jordan's forte, with a total of 24,537 field goals attempted and an impressive 12,192 field goals made, resulting in a career shooting percentage of 49.69%. His ability to deliver when it mattered most solidified his reputation as a clutch player, ready to rise to any challenge. Furthermore, Jordan's proficiency extended to the free-throw line, where he attempted 8,772 shots and successfully made 7,327, boasting an exceptional free-throw percentage throughout his career.

Beyond scoring, Jordan's impact on the game transcended statistical measures. His prowess on the court was exemplified by his exceptional rebounding skills, totaling 6,672 rebounds throughout his career. Whether dominating the boards defensively with 5,004 rebounds or creating second-chance opportunities with 1,668 offensive rebounds, Jordan's versatility as a player set him apart from his peers.

Assists, steals, and blocks were also integral facets of Jordan's game. With 5,633 assists, Jordan showcased his playmaking ability and vision on the court, elevating his teammates and setting them up for success. On the defensive end, Jordan's tenacity was evident in his 2,514 steals, disrupting opponents' offense and sparking fast-break opportunities. Additionally, his 893 blocks highlighted his ability to protect the rim and deter opposing players with his defensive prowess.

Of course, no discussion of Michael Jordan's career would be complete without mentioning his scoring prowess. With a total of 32,292 points, Jordan solidified his status as one of the most prolific scorers in NBA history. His unparalleled scoring ability, marked by an array of moves and a relentless drive to succeed, left an indelible mark on the game and inspired generations of basketball players to follow.

As we analyze the numbers that define Michael Jordan's career, we are not just looking at statistics but unraveling the narrative of a player who redefined the game of basketball. Jordan's impact extends far beyond the court, shaping the culture of the sport and leaving a lasting legacy that continues to resonate to this day. Whether you're a seasoned basketball aficionado or a casual fan, exploring Jordan's career through these statistics offers a glimpse into the brilliance of a player who transcended the confines of sports and became a global phenomenon.

So, dive into the charts, explore the numbers, and unravel the story of Michael Jordan – a basketball legend whose impact will forever be etched in the annals of NBA history.

----

None

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id_x,full_name_x,first_name,last_name,is_active,id_y,full_name_y,abbreviation,nickname,city,state,year_founded
0,203999,2015-16,00,1610612743,DEN,21.0,80,55,1733.0,307,600,0.512,28,84,0.333,154,190,0.811,181,379,560,189,79,50,104,208,796,203999,Nikola Jokic,Nikola,Jokic,True,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
1,203999,2016-17,00,1610612743,DEN,22.0,73,59,2038.0,494,854,0.578,45,139,0.324,188,228,0.825,212,506,718,359,61,55,171,214,1221,203999,Nikola Jokic,Nikola,Jokic,True,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
2,203999,2017-18,00,1610612743,DEN,23.0,75,73,2443.0,504,1010,0.499,111,280,0.396,266,313,0.850,195,608,803,458,90,61,210,212,1385,203999,Nikola Jokic,Nikola,Jokic,True,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
3,203999,2018-19,00,1610612743,DEN,24.0,80,80,2504.0,616,1206,0.511,83,270,0.307,289,352,0.821,228,637,865,580,108,55,248,228,1604,203999,Nikola Jokic,Nikola,Jokic,True,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
4,203999,2019-20,00,1610612743,DEN,25.0,73,73,2335.0,565,1071,0.528,80,255,0.314,246,301,0.817,166,545,711,512,85,44,226,222,1456,203999,Nikola Jokic,Nikola,Jokic,True,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
5,203999,2020-21,00,1610612743,DEN,26.0,72,72,2488.0,732,1293,0.566,92,237,0.388,342,394,0.868,205,575,780,599,95,48,222,192,1898,203999,Nikola Jokic,Nikola,Jokic,True,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
6,203999,2021-22,00,1610612743,DEN,27.0,74,74,2476.0,764,1311,0.583,97,288,0.337,379,468,0.810,206,813,1019,584,109,63,281,191,2004,203999,Nikola Jokic,Nikola,Jokic,True,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,203999,2022-23,00,1610612743,DEN,28.0,69,69,2323.0,646,1022,0.632,57,149,0.383,341,415,0.822,167,650,817,678,87,47,247,174,1690,203999,Nikola Jokic,Nikola,Jokic,True,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
8,203999,2023-24,00,1610612743,DEN,29.0,79,79,2737.0,822,1411,0.583,83,231,0.359,358,438,0.817,223,753,976,708,108,68,237,194,2085,203999,Nikola Jokic,Nikola,Jokic,True,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976

## Nikola Jokic

None

role system
content
You are a smart, detail-oriencted, keen NBA Basketball player analyst.
Please write an introductory text for a profile page of this Basketball player.
Length: 500 - 800 words.
please stick to the stats provided.
Tone: should be interesting factual intriguing and inviting the user to dive
into the charts on the page to better get to know the player.

name Nikola Jokic
teams ['Denver Nuggets']
cities ['Denver']
states ['Colorado']
active True
start_season 2015-16
end_season 2023-24
start_age 21.0
end_age 29.0
games_played 675
minutes_played 21077.0
goals_attempted 9778
goals_made 5450
goals_percent 0.5573736960523624
freethrows_attempted 3099
freethrows_made 2563
freethrows_percent True
rebounds 7249
rebounds_def 5466
rebounds_off 1783
assists 4667
steals 822
blocks 491
points 14139

Nikola Jokic: The Game-Changing Force from the Mile High City

When it comes to the realm of basketball, few players possess the unique blend of skills and basketball IQ that Nikola Jokic brings to the court. As a key player for the Denver Nuggets since the 2015-2016 season, Jokic has not only solidified his place as one of the league's top players but has also become a fan favorite in the city of Denver, Colorado.

Standing at 7 feet tall, Jokic cuts an imposing figure on the court, but it's his finesse and versatility that truly set him apart from his peers. With a stellar field goal percentage of 55.7%, Jokic has proven time and time again that he has the scoring touch to make an impact in any game situation. His ability to stretch the floor as a center, with a reliable mid-range shot and three-point range, makes him a nightmare matchup for opposing defenders.

But Jokic's impact goes beyond just scoring. His passing ability and court vision are arguably what truly elevate his game to the next level. With an impressive 4667 assists over his career, Jokic is not just a scorer - he is a playmaker, constantly creating opportunities for his teammates and keeping the Nuggets' offense flowing smoothly.

On the defensive end, Jokic is equally impactful. With 7249 total rebounds, including an impressive 1783 offensive rebounds, Jokic is a force on the boards, giving his team crucial second-chance opportunities and limiting opponents' offensive possessions. His 822 steals and 491 blocks also showcase his ability to disrupt plays and protect the rim when called upon.

As a truly all-around player, Jokic's impact on the court cannot be overstated. His versatility, basketball IQ, and unique skill set make him a player that opposing teams must always account for and game-plan against. It's no wonder that he has become the face of the Denver Nuggets and a player that fans in the Mile High City have come to adore.

Through 675 games played and over 21,000 minutes on the court, Jokic has consistently proven himself as a reliable and game-changing presence for the Nuggets. His numbers speak for themselves - with 14139 points scored and counting, Jokic continues to be a dominant offensive force for his team.

At just 29 years old, Jokic is still in the prime of his career, with plenty of basketball ahead of him. As he continues to evolve and refine his game, there's no telling how far he can take the Nuggets and what accolades he can achieve in the years to come.

For fans of the game looking to witness a player who truly embodies the essence of modern basketball - a player who can score, pass, rebound, and defend with equal prowess - look no further than Nikola Jokic. Dive into the stats, dissect his game, and marvel at the skill and talent of this basketball virtuoso from Denver.

----

None

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id_x,full_name_x,first_name,last_name,is_active,id_y,full_name_y,abbreviation,nickname,city,state,year_founded
0,76003,1969-70,00,1610612749,MIL,23.0,82,0,3534.0,938,1810,0.518,NaN,NaN,NaN,485,743,0.653,NaN,NaN,1190,337,NaN,NaN,NaN,283,2361,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
1,76003,1970-71,00,1610612749,MIL,24.0,82,82,3288.0,1063,1843,0.577,NaN,NaN,NaN,470,681,0.690,NaN,NaN,1311,272,NaN,NaN,NaN,264,2596,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
2,76003,1971-72,00,1610612749,MIL,25.0,81,81,3583.0,1159,2019,0.574,NaN,NaN,NaN,504,732,0.689,NaN,NaN,1346,370,NaN,NaN,NaN,235,2822,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
3,76003,1972-73,00,1610612749,MIL,26.0,76,76,3254.0,982,1772,0.554,NaN,NaN,NaN,328,460,0.713,NaN,NaN,1224,379,NaN,NaN,NaN,208,2292,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
4,76003,1973-74,00,1610612749,MIL,27.0,81,81,3548.0,948,1759,0.539,NaN,NaN,NaN,295,420,0.702,287.0,891.0,1178,386,112.0,283.0,NaN,238,2191,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
5,76003,1974-75,00,1610612749,MIL,28.0,65,64,2747.0,812,1584,0.513,NaN,NaN,NaN,325,426,0.763,194.0,718.0,912,264,65.0,212.0,NaN,205,1949,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
6,76003,1975-76,00,1610612747,LAL,29.0,82,82,3379.0,914,1728,0.529,NaN,NaN,NaN,447,636,0.703,272.0,1111.0,1383,413,119.0,338.0,NaN,292,2275,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
7,76003,1976-77,00,1610612747,LAL,30.0,82,82,3016.0,888,1533,0.579,NaN,NaN,NaN,376,536,0.701,266.0,824.0,1090,319,101.0,261.0,NaN,262,2152,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
8,76003,1977-78,00,1610612747,LAL,31.0,62,62,2265.0,663,1205,0.550,NaN,NaN,NaN,274,350,0.783,186.0,615.0,801,269,103.0,185.0,208.0,182,1600,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
9,76003,1978-79,00,1610612747,LAL,32.0,80,80,3157.0,777,1347,0.577,NaN,NaN,NaN,349,474,0.736,207.0,818.0,1025,431,76.0,316.0,282.0,230,1903,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
10,76003,1979-80,00,1610612747,LAL,33.0,82,81,3143.0,835,1383,0.604,0.0,1.0,0.000,364,476,0.765,190.0,696.0,886,371,81.0,280.0,297.0,216,2034,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,76003,1980-81,00,1610612747,LAL,34.0,80,80,2976.0,836,1457,0.574,0.0,1.0,0.000,423,552,0.766,197.0,624.0,821,272,59.0,228.0,249.0,244,2095,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
12,76003,1981-82,00,1610612747,LAL,35.0,76,76,2677.0,753,1301,0.579,0.0,3.0,0.000,312,442,0.706,172.0,487.0,659,225,63.0,207.0,230.0,224,1818,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
13,76003,1982-83,00,1610612747,LAL,36.0,79,79,2554.0,722,1228,0.588,0.0,2.0,0.000,278,371,0.749,167.0,425.0,592,200,61.0,170.0,200.0,220,1722,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
14,76003,1983-84,00,1610612747,LAL,37.0,80,80,2622.0,716,1238,0.578,0.0,1.0,0.000,285,394,0.723,169.0,418.0,587,211,55.0,143.0,221.0,211,1717,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
15,76003,1984-85,00,1610612747,LAL,38.0,79,79,2630.0,723,1207,0.599,0.0,1.0,0.000,289,395,0.732,162.0,460.0,622,249,63.0,162.0,197.0,238,1735,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
16,76003,1985-86,00,1610612747,LAL,39.0,79,79,2629.0,755,1338,0.564,0.0,2.0,0.000,336,439,0.765,133.0,345.0,478,280,67.0,130.0,203.0,248,1846,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
17,76003,1986-87,00,1610612747,LAL,40.0,78,78,2441.0,560,993,0.564,1.0,3.0,0.333,245,343,0.714,152.0,371.0,523,203,49.0,97.0,186.0,245,1366,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
18,76003,1987-88,00,1610612747,LAL,41.0,80,80,2308.0,480,903,0.532,0.0,1.0,0.000,205,269,0.762,118.0,360.0,478,135,48.0,92.0,159.0,216,1165,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
19,76003,1988-89,00,1610612747,LAL,42.0,74,74,1695.0,313,659,0.475,0.0,3.0,0.000,122,165,0.739,103.0,231.0,334,74,38.0,85.0,95.0,196,748,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948

## Kareem Abdul-Jabbar

None

role system
content
You are a smart, detail-oriencted, keen NBA Basketball player analyst.
Please write an introductory text for a profile page of this Basketball player.
Length: 500 - 800 words.
please stick to the stats provided.
Tone: should be interesting factual intriguing and inviting the user to dive
into the charts on the page to better get to know the player.

name Kareem Abdul-Jabbar
teams ['Milwaukee Bucks', 'Los Angeles Lakers']
cities ['Milwaukee', 'Los Angeles']
states ['Wisconsin', 'California']
active False
start_season 1969-70
end_season 1988-89
start_age 23.0
end_age 42.0
games_played 1560
minutes_played 57446.0
goals_attempted 28307
goals_made 15837
goals_percent 0.5594729218921115
freethrows_attempted 9304
freethrows_made 6712
freethrows_percent True
rebounds 17440
rebounds_def 9394.0
rebounds_off 2975.0
assists 5660
steals 1160.0
blocks 3189.0
points 38387

Introducing Kareem Abdul-Jabbar, a legendary NBA Basketball player who made a lasting impact on the game during his illustrious career with the Milwaukee Bucks and the Los Angeles Lakers. Let's take a deep dive into the career of this iconic player and uncover the statistical prowess that made him one of the greatest to ever grace the hardwood.

Kareem Abdul-Jabbar, born Ferdinand Lewis Alcindor Jr., began his NBA journey in the 1969-70 season with the Milwaukee Bucks. Standing tall at 7 feet 2 inches, Abdul-Jabbar was a dominant force on both ends of the court. Throughout his career, he showcased his exceptional skills, basketball IQ, and work ethic, solidifying his status as a basketball icon.

Over his remarkable 20-year career, Abdul-Jabbar played a total of 1560 games, amassing an impressive 57,446 minutes on the court. His remarkable scoring ability is evident in his 28,307 field goals attempted, with 15,837 finding the bottom of the net, boasting an impressive field goal percentage of 55.95%.

When it came to free throws, Abdul-Jabbar demonstrated his finesse at the line with 9,304 attempts and 6,712 successful conversions, showcasing his proficiency with a free throw percentage ranking among the league's elite.

Rebounding was another area where Abdul-Jabbar excelled, hauling in a total of 17,440 rebounds throughout his career. His prowess on the boards was a key asset to his teams, with 9,394 defensive rebounds and 2,975 offensive rebounds showcasing his versatility and impact on the game.

As a true team player, Abdul-Jabbar also displayed his playmaking skills, tallying 5,660 assists over his career. His ability to facilitate ball movement and create scoring opportunities for his teammates added another dimension to his game, making him a triple threat on the court.

Defensively, Abdul-Jabbar was a stalwart presence, recording 1,160 steals and a remarkable 3,189 blocks. His shot-blocking prowess and defensive awareness made him a formidable force in protecting the rim and disrupting opponents' offensive schemes.

On the offensive end, Abdul-Jabbar's scoring prowess shone brightest, culminating in an impressive total of 38,387 career points. His ability to score from anywhere on the court, coupled with his unstoppable skyhook shot, made him a nightmare for opposing defenses and a consistent scoring threat throughout his career.

Abdul-Jabbar's impact extended beyond the stat sheet, as his leadership, humility, and dedication to the game inspired a generation of players and fans alike. His legacy as a basketball icon is cemented not only by his statistical achievements but also by his influence on the culture of the sport and his enduring legacy as one of the all-time greats.

As we delve deeper into the numbers and charts that encapsulate Kareem Abdul-Jabbar's illustrious career, we uncover the remarkable feats and lasting impact of a true basketball legend. Join us in exploring the statistical tapestry of this iconic player and gain a deeper appreciation for the greatness that defined Kareem Abdul-Jabbar's legacy in the NBA.

----

None